.headerContainer {
    text-align: center;
    margin-bottom: 4rem;
    /* padding-top: 8rem;  */
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.title {
    /* ESTO HACE LA LETRA PRINCIPAL MUCHO MÁS GRANDE */
    font-size: 2.5rem; 
    font-weight: 800;
    margin-bottom: 1rem;
    line-height: 1.2;
}

.description {
    /* ESTO HACE EL SUBTÍTULO MÁS GRANDE PARA QUE ESTÉ EN PROPORCIÓN */
    font-size: 1rem;
    color: var(--color-text-secondary);
    max-width: 800px;
    margin: 0 auto;
}