.container
{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    background-color: #f9fafb;
}

.main
{
    width: 100%;
    max-width: 600px;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    color: #1e3a8a; 

}

.form
{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form label
{
    color: #1e3a8a;
}

.form input
{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    color: #111827;
}

.saveBtn
{
    margin-top: 20px;
    padding: 10px;
    background-color: #5f7db1;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.saveBtn:hover
{
    background-color: #638cbe;
}